{% extends "templates/base.html" %}

{% block content %}
  
  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>

  <div class="row mb-4">
    
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3"> 
      <div class="card bg-warning text-white">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title">Exames agendados para Hoje</h5>
              <p class="card-text h1">{{ parametros.exames_hoje }}</p>
            </div>
            <div class="col-4 text-right">
              <i class="fas fa-calendar fa-3x"></i> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3"> 
      <div class="card bg-info text-white" 
          style="cursor:pointer"
          data-bs-toggle="modal"
          data-bs-target="#modalExames">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title">Total de Exames (R$)</h5>
              <p class="card-text h1">{{ parametros.total_exames }}</p>
            </div>
            <div class="col-4 text-right">
              <i class="fas fa-wallet fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
      <div class="card bg-success text-white">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title">Pacientes Cadastrados</h5>
              <p class="card-text h1">{{ parametros.pacientes_count }}</p>
            </div>
            <div class="col-4 text-right">
              <i class="fas fa-user fa-3x"></i> 
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row bg-default">
    <div class="col-xl-12 bg-default">
      <div class="card-body home text-center">
        <div class="col-xl-5 mx-auto">
          <img src="static/assets/img/logo.png" width='90%' alt="Logo da Aplicação"/>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalExames" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title">Exames por dia (R$)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <canvas id="chartExames"></canvas>
        </div>

      </div>
    </div>
  </div>


<script>
  window.onload = function () {
    windowOnLoad();
    const EXAMES_POR_DIA = {{ parametros.exames_por_dia | dump | safe }};
    let chartExames = null;

    function montarGraficoExames() {
      const ctx = document.getElementById('chartExames').getContext('2d');

      const labels = Object.keys(EXAMES_POR_DIA).sort();
      const valores = labels.map(d => EXAMES_POR_DIA[d]);

      if (chartExames) chartExames.destroy(); // evita duplicar

      chartExames = new Chart(ctx, {
        type: 'bar',
        data: {
          labels,
          datasets: [{
            label: 'Total de Exames (R$)',
            data: valores,
            borderWidth: 2,
            tension: 0.3
          }]
        }
      });
    }

    document.getElementById('modalExames')
      .addEventListener('shown.bs.modal', montarGraficoExames);
  };
  
</script>


{% endblock %}