{% extends "templates/base.html" %}

{% block content %}

  <ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">{{ title }}</li>
  </ol>
  <div class="row">
    <div class="col-xl-12">

      <div class="card-body">
        <div>
          <div style="margin-bottom: 15px;">
            <a href="/fornecedores/InsertFornecedores" class="btn btn-brown">
              Inserir novo fornecedor
            </a>
          </div>

          <div>
            <table id="tabFornecedores" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Ação</th>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Telefone</th>
                  <th>Endereço</th>
                </tr>
              </thead>
              <tbody>
                {% for reg in data %}
                  <tr>
                    <td>
                      <a href="/fornecedores/ViewFornecedores/{{ reg.id }}" title="Visualizar">
                        <i class="fas fa-search"></i>
                      </a>
                      <a href="/fornecedores/UpdateFornecedores/{{ reg.id }}" title="Atualizar" style="margin-left: 10px;">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                    </td>
                    <td>{{ reg.id }}</td>
                    <td>{{ reg.nome }}</td>
                    <td>{{ reg.telefone }}</td>
                    <td>{{ reg.endereco }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = function () {
      const localErro = "{{ erro }}";
      if (localErro != "") {
        alert("[vwManutFornecedores|onload] Servidor retornou o erro: " + localErro);
      }
      new DataTable('#tabFornecedores');
    };
  </script>

{% endblock %}
