<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Principal</div>
        <a class="nav-link" href="/">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Home
        </a>
        
        <!-- Módulo acadêmico -->
        <div>
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
            aria-expanded="false" aria-controls="collapsePages">
            <div class="sb-nav-link-icon">
              <i class="fas fa-book-open"></i>
            </div>
            Controle do consultório
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i>
            </div>
          </a>
          <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth"
                aria-expanded="false" aria-controls="pagesCollapseAuth">
                Exames
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="/exames/ManutExames">Manutenção de exames</a>
                </nav>
              </div>
              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError"
                aria-expanded="false" aria-controls="pagesCollapseError">
                Pacientes
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="/pacientes/ManutPacientes">Manutenção de pacientes</a>
                </nav>
              </div>
                 <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseRec"
                aria-expanded="false" aria-controls="pagesCollapseRec">
                Receitas Médicas
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div class="collapse" id="pagesCollapseRec" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="/receitas/ManutReceitas">Manutenção de receitas</a>
                </nav>
              </div>

              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseExPac"
                aria-expanded="false" aria-controls="pagesCollapseExPac">
                Exames Realizados
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div class="collapse" id="pagesCollapseExPac" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="/examePaciente/ManutExamePaciente">Manutenção de Exames Realizados</a>
                </nav>
              </div>
              
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="sb-sidenav-footer">
      <div class="small">Bem vindo:</div>
        {{ parametros.Usuario }}      
    </div> -->
  </nav>
</div>